<h1>This is the new session form from app/views/sessions</h1>
<%= render "./partials/form", action: sessions_url %>

<!-- <form class="" action="<%= sessions_url %>" method="post">

  <label>Username:
    <input type="text" name="user[email]" value="">
  </label>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Login says Keenan">

</form> -->
