<!-- <% button_value = case action
  when users_url
    "Create New User"
  when sessions_url
    "Log in"
  end
%> -->
<!-- <form  action="bands_url" method="post">

  <label>Band Name:
    <input type="text" name="band[name]" value="">
  </label>

  <input type="submit" value=" <%= button_value %>">

</form> -->
