<h1>This is the new user form from app/views/users</h1>

<%= render "./partials/form", action: users_url %>

<!-- <form class="" action="<%= users_url %>" method="post">

  <label>Username:
    <input type="text" name="user[email]" value="">
  </label>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Create New User!!!">

</form> -->
